{% extends "layout.html" %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block title %}NUBLOG{% endblock %}
{% block body %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p class='error'>{{message}}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
{% endblock %}
{% block content %}
<div  class="container">
  <h2>Wanna Join? Easy peasy…</h2>
    <div class="col-lg-6">
      <h4>Please fill out registration form:</h4>
      <form action="/registration"  method="post">
        <input type="text" name="firstname" placeholder="first name:" class="form-control"><br>
        <input type="text" name="lastname" placeholder="last name:" class="form-control"><br>
        <input type="text" name="alias" placeholder="pick an alias to use:" class="form-control"><br>
        <input type="email" name="email" placeholder="please use a valid email address:" class="form-control"><br>
        <input type="password" name="password" placeholder="please choose an 8 character password:" class="form-control"><br>
        <input type="password" name="password_confirm" placeholder="please retype the password used to 'reconfirm':" class="form-control"><br>
      </form>
    </div>
  </div> <!-- /container -->
{% endblock %}
